{% extends "blog_app/base.html" %}
{% block content %}
    <p><b>Welcome to The Fast Trading Blog </b></p>
    <p><i>This blog is developed for educational purposes only.</i></p>

    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'admin:auth_user_change' post.author.id %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>    
    {% endfor %}
{% endblock content %}