{% extends "blog_app/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class ="rounded-circle article-img" src ="{{ object.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'admin:auth_user_change' object.author.id %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
            <div>
            {%  if object.author == user %}
              <a class = "btn-secondary btn-sm mt-l mb-l" href="{% url 'post-update' object.id %}">Update</a>
              <a class = "btn-danger btn-sm mt-l mb-l" href="{% url 'post-delete' object.id %}">Delete</a>
            {% endif %}
            </div>
          </div>
          <h2 class="article-title">{{ object.title }}</h2>
          <p class="article-content">{{ object.content }}</p>
        </div>
      </article>
{% endblock content %}